<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bissex Année</title>
  </head>
  <body>
    <h1>Bienvenue sur la page "Bissex Année"</h1>
    <div>
      {{bissex}}
    </div>
    <div>
      <form action="/bissex_annee/" method="post">
        <input type="text" name="year">
        <input type="submit" value="OK">
      </form>
    </div>
  </body>
</html>