<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <body>
    <div class="d-flex align-items-center justify-content-center madiv ">
        <div class="mainbox row">
            <div class="mantitl">
                <h1 class="medium title">Bissex, l'utilitaire ULTIME pour la détermination des années bissextiles !</h1>
            </div>
            <div class="col-sm-6">
                <div class="zoom">
                    <a href="./year">
                        <img src="assets/calend1.jpg" class="img" alt="calend1">
                        <div class="text-block">
                            <h4 class="big">Bissex Year</h4>
                            <p class="small">Découvrez si une année est bissextile ou non.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="zoom">
                    <a href="./range">
                        <img src="assets/calend2.jpg" class="img" alt="calend2">
                        <div class="text-block">
                            <h4 class="big">Bissex Range</h4>
                            <p class="small">Cherchez les dates bissextiles entre plusieurs années.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="zoom">
                <a href="./history">
                    <img src="assets/calend3.jpg" class="img2" alt="calend3">
                    <div class="text-block">
                        <h4 class="big">Bissex History</h4>
                        <p class="small">Parcourez l'historique des commandes effectuées.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
  </body>
</html>