.medium {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.madiv{
    background: linear-gradient(130deg, rgba(0, 255, 117, 1) 0%, rgba(136, 117, 255, 1) 100%);
}

.mantitl{
    background-color: gray;
    color: white;
    padding: 20px;
    border-radius: 50px;
}

.title{
    text-align: center;
}

.mainbox {
    background-color: white;
    border-radius: 50px;
    width: 75%;
    padding: 1%;
    margin-top: 40px;
    margin-bottom: 40px;
    justify-content: space-evenly;
}

.zoom {
    background-color: white;
    margin: 10px;
	transition: transform .5s;
  }
  
.zoom:hover {
    position: relative;
	transform: scale(1.02);
	z-index: 1;
}

.img{
    width: 100%;
    border-radius: 30px;
    filter: drop-shadow(0 0 0.5rem grey) opacity(50%);
}