<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <body>
    <div class="d-flex align-items-center justify-content-center madiv ">
      <div class="mainbox row">
        <div class="mantitl">
            <h1 class="medium title">Bissex Range</h1>
            <h1 class="small title">Renseignez un intervale d'années ci-dessous, puis validez pour découvrir quelles années sont bissextiles !</h1>
        </div>
        <form onsubmit="return false" (submit)="onSubmit()">
          <div class="row">
            <div class="col-sm">
              <label for="yeartbx" class="tbxindicator small">Année 1</label>
              <input type="text" class="form-control tbx small" id="year1tbx" name="year1tbx">
            </div>
            <div class="col-sm">
              <h1 class="arrow big">>>>>>>>>>>>>>>>>>>>>>></h1>
            </div>
            <div class="col-sm">
              <label for="yeartbx" class="tbxindicator small">Année 2</label>
              <input type="text" class="form-control tbx medium" id="year2tbx" name="year2tbx">  
            </div>
          </div>
          <input type="submit" class="btn-primary btn medium" id="yearbtn" value="Des années bissextiles dans cet intervale ?" name="yearbtn">
        </form>
        <div class="divresult">
          <h1 class="medium title">Résultat :</h1>
          <div class="mantitl">
            <p class="small title" [innerHtml]= "result"></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>