<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  </head>
  <footer> <!-- Footer that will be imported on each regular page -->
        <div class="row g-0 justify-content-center">
            <!-- "Services" part of the footer-->
            <div class="col-lg-4 col-sm-12 maxi">
                <h3 class="medium">Services</h3>
                <p class="small">Partenariats</p>
                <p class="small">Blog</p>
                <p class="small">Contacts</p>
                <p class="small">FAQ</p>
            </div>
            <!-- "About" part of the footer-->
            <div class="col-lg-4 col-sm-12">
                <h3 class="medium">A propos</h3>
                <p class="small">Entreprise</p>
                <p class="small">Notre équipe</p>
                <p class="small">Carrières</p>
                <p class="small">Termes légaux</p>
            </div>
            <div class="col-lg-4 col-sm-12">
                <h2 class="big">Bissex</h2>
                <p class="small">Le site des années bissextiles !</p>
            </div>
        </div>
    </footer>
</html>