.small {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.medium {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.big {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 26px;
}

footer {
    background: linear-gradient(170deg, rgba(0, 0, 0, 1) 0%, rgba(100, 100, 100, 1) 100%);
    color: white;
    padding: 5%;
}