@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
footer {
    background-color: rgb(85, 85, 85);
    color: white;
    padding: 5%;
}

.fa-brands {
    padding-right: 10px;
}

.social_link {
    color: white;
}

.social_link:hover {
    color: greenyellow;
}

::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 100px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #3a3838a9;
    border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #3e413ec9;
}

/*NOTIFICATION*/
.small.btn-notification {
    /* Button style*/
    color: rgb(255, 255, 255);
    background-color: #51b700;
    border-radius: 50px;
    border-style: none;
    height: 2.25em;
    padding-left: 10px;
    padding-right: 10px;
}

.small.btn-notification:hover {
    /* Button style*/
    color: rgb(255, 255, 255);
    background-color: #419100;
    border-radius: 50px;
    border-style: none;
    height: 2.25em;
    padding-left: 10px;
    padding-right: 10px;
}

.toast.full.show{
    width: 100%;
}

.markasread{
    background-color: white;
    border: none;
    margin-left: 10px;
}

.mini {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 12px;
}

.small {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.medium {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.big {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 26px;
}

.maxi {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 36px;
}