.small {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.maxi {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 36px;
}

.navb{
    background: linear-gradient(170deg, rgba(0, 0, 0, 1) 0%, rgba(100, 100, 100, 1) 100%);
}

.ico{
    width: 15%;
    margin-left: 20%;
}

.navbar-align-right {
    margin-left: auto;
    margin-right: 5%;
}    

